.actions {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  background: none;
  box-shadow: none;

  &--blur {
    opacity: 0.6;
    filter: blur(10px);
  }
}

.description {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: rgb(63, 81, 181, 0.3);
  padding: 6px;
  font-size: 14px;
  color: #3f51b5;
  border-color: #3f51b5;
  border-width: 1px;
  border-style: solid;

  &--hidden {
    display: none;
  }
}

.get-question {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;

  &__icon {
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__form {
    width: 800px;
  }

  &__button {
    cursor: pointer;
  }
}

.add-fact {
  display: flex;

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.close {
  width: fit-content;
  height: fit-content;
  float: right;
}
