.choice {
  margin: 20px;
  text-align: center;
  border-radius: 6px;
  padding: 20px;
  width: 200px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 9px #c4c4c4;
  }

  &__title {
    font-weight: bolder;
  }

  &--correct {
    background-color: rgba(219, 235, 255, 0.7);
  }

  &--incorrect {
    background-color: rgba(255, 254, 247);
  }

  &--selected {
    transform: scale(1.1);
    box-shadow: 0px 2px 9px #c4c4c4;
  }
}

.mark-as-correct {
  background-color: rgba(219, 235, 255, 0.7);
  width: fit-content;
  margin: auto;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0px 2px 9px #c4c4c4;
  cursor: pointer;

  &--hidden {
    opacity: 0;
    cursor: default;
  }
}
