.explanation {
  margin-top: 10px;
  width: 800px;
  padding: 40px;
  border-radius: 6px;
  overflow-y: scroll;
  height: 270px;
  margin: auto;

  &--correct {
    background-color: #d8ffc4;
  }

  &--incorrect {
    background-color: #ffd4d4;
  }

  &__title {
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__sentence-box {
    display: flex;
    justify-content: center;
  }

  &__sentence {
    padding: 6px;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin-top: 10px;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 1px 5px #c4c4c4;
    }

    cursor: pointer;
  }
}
