.explanation {
  width: 800px;
  border-radius: 6px;
  overflow-y: scroll;
  height: 270px;
  margin: auto;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

  &--correct {
    background-color: rgba(219, 235, 255, 0.7);
  }

  &--incorrect {
    background-color: rgba(255, 254, 247);
  }

  &__header {
    background-color: rgb(204, 204, 204);
    box-shadow: 0px 0.5px 2px #c4c4c4;
    padding: 15px 0 15px 0;
  }

  &__title {
    font-weight: bold;
    font-size: large;
    width: fit-content;
    margin: auto;
  }

  &__body {
    padding: 10px 40px 0 40px;
  }

  &__sentence-box {
    display: flex;
    justify-content: center;
  }

  &__sentence {
    padding: 6px;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin-bottom: 10px;

    &:hover,
    &:active {
      transform: scale(1.1);
      box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    }

    &--hidden {
      opacity: 0;
    }

    cursor: pointer;
  }
}
