.get-question {
  display: flex;
  align-items: center;
  left: 30px;
  height: 25px;

  &:hover {
    transform: scale(1.1);
  }

  &__icon {
    margin-right: 20px;
    cursor: pointer;
  }

  &__form {
    width: 550px;
  }

  &__button {
    cursor: pointer;
  }
}
