.inference {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  align-items: center;
  text-align: center;

  &--blur {
    opacity: 0.6;
    filter: blur(10px);
  }
}
